APP_NAME=""
ADMIN_EMAIL=""
MONGO_URI=""
DB_NAME=""
TWILLIO_ACCOUNT_TOKEN=""
TWILLIO_ACCOUNT_SID=""
IS_DEV=false
SECRET_KEY = "your-secret-key"  # Change this to your actual secret key
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
S3_BUCKET=""